{% extends "base.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Nyan Faucet</h1>
        <p>
            Welcome to the Nyan Faucet.
        </p>
        <p>
            {% if request.session.address %}
            Huzzah, you are already registered!<br /><br /><a class="btn btn-success btn-lg" href="{% url 'play'%}" role="button">Play now &raquo;</a>
            {% else %}
            <a class="btn btn-success btn-lg" href="{% url 'register'%}" role="button">Get started &raquo;</a>
            {% endif %}
        </p>
    </div>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>What is NyanCoin?</h2>
        <p>Nyancoin is a cryptocurrency based on Nyan Cat and was launched in January 2014 ... </p>
        <p><a class="btn btn-default" target="_blank" href="http://www.nyancoin.info/whatis.nyan" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-reddit"></i> Community</h2>
        <p>Visit the NyanCoin community on Reddit</p>
        <p><a class="btn btn-default" href="http://www.reddit.com/r/nyancoins/" role="button">/r/NyanCoins &raquo;</a></p>
    </div>
</div>
{% endblock %}
