{% extends "base.html" %}{% load staticfiles %}{% load humanize %}

{% block content %}

<div class="row">
    <noscript><h1>This page requires JavaScript to function!</h1></noscript>

    <div class="col-md-7">
        {% if nextroll <= 1 %}
        <p><button class="btn btn-success btn-lg" type="button" id="cmdRoll">Roll dice</button></p>
        {% else %}
        
        <h2>You rolled {{lastroll|stringformat:"05d"}} and win {{lastwinnings|intcomma}} NYAN!</h2>
        <h3>Next roll in <span id="timeleft">{{nextroll}}</span> seconds.</h3>
        
        <p>
            <img class="img-responsive img-rounded" style="box-shadow:rgba(128, 128, 128, 0.5) 3px 3px 4px" src="{% static 'img/sleepy_by_Nyan-Tortik.png' %}" alt="Sleepy Nyan-Cat by Nyan-Tortik - http://nyan-tortik.deviantart.com/art/sleepy-day-of-nyan-cat-273759792" /><br />
            <small style="color:#999;font-style:italic"><a rel="nofollow" target="_blank" href="http://nyan-tortik.deviantart.com/art/sleepy-day-of-nyan-cat-273759792">Sleepy Nyan-Cat by Nyan-Tortik</a></small>
        </p>

        {% endif %}

        <p>
            {% if nextroll <= 1 %}
            Client Seed: <input type="text" readonly id="clientseed" value="loading" /><br />
            Nonce: <span id="nonce">loading</span>
            {% endif %}
        </p>
    </div>
    <div class="col-md-5">
        <h2>Prize table:</h2>
        <p>
            The amount of NyanCoins that you can win depends on the number that you roll and will pay out according to the table below:
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Roll <small>at least:</small></th>
                    <th class="text-center">Payout:</th>
                </tr>
            </thead>
            <tbody style="font-weight:bold">
                {% for v, p in payout_table %}
                <tr>
                    <td class="text-center">{{v}}</td>
                    <td class="text-right">{{p|intcomma}} NYAN</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var clientseed = Math.random().toString(36).replace(/[^a-zA-Z0-9]+/g, '').substr(0, 32);
    $('input#clientseed').val(clientseed);
    $('span#nonce').text("{{nonce}}");

    (function () {
        var nextroll = parseFloat("{{nextroll}}");

        var unixtime = (function () {
            return Math.floor(new Date().getTime());
        });

        var updateTimer = function () {
            var delta = ((end - unixtime()) / 1000).toFixed(2);
            if (delta <= 0) {
                setTimeout(function () {
                    location.reload();
                }, 100);
            } else {
                txtTimeLeft.textContent = delta;
                setTimeout(updateTimer, 1000 / 15);
            }
        }

        var end = 0;
        var txtTimeLeft = $('span#timeleft')[0];

        if (nextroll > 0) {
            end = unixtime() + (nextroll * 1000);
            setTimeout(updateTimer, 1000 / 15);
        }
    })();    
</script>
<script src="{% static 'js/nyandice.js' %}"></script>
{% endblock %}