

/* ==========================================================================
   NyanFaucet custom styles
   ========================================================================== */








/*
body {
    color: #edf2f7;
    background:url(/static/img/background.png) repeat;
}

.table-striped>tbody>tr:nth-child(odd) {
  background-color: #226090;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #7facd0;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #7facd0;
}

input[type=text] {
    background-color:#226090;
    color:#edf2f7;
}
*/

/* NyanCheque */
.nyancheque {
    width:640px;
    height:290px;
    background-image: url(/static/img/NyanCheque_640.png);
    background-repeat:no-repeat;
    position:relative;
    font-weight:bold;
    font-family:Tahoma;
}

.nyancheque > #serial {
    position:relative;
    top:35px;
    left:560px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.nyancheque > #orderto {
    position:relative;
    top:85px;
    left:100px;
}

.nyancheque > #amount {
    position:relative;
    top:66px;
    left:505px;
}

.nyancheque > #amount-words {
    position:relative;
    top:72px;
    left:40px;
    width:430px;
    text-align:right;
    font-family:cursive;
    font-size:large;
}



